<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="#">
      <img class="img" src="../assets/imag/images.png" alt="" />
    </a>
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav ms-auto mt-2 mt-lg-0 align-items-center">
        <li class="nav-item">
          <a href="" class="text-dark me-2"><i class="fab fa-facebook"></i> </a>
          <a href="" class="text-dark me-2"
            ><i class="fab fa-instagram"></i>
          </a>
          <a href="" class="text-dark me-2"><i class="fab fa-linkedin"></i> </a>
          <a href="" class="text-dark me-2"><i class="fab fa-whatsapp"></i></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" routerLink="/login">login</a>
        </li>
        <li class="nav-item">  
          <a class="nav-link" routerLinkActive="active-link" routerLink="/register">regestar</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
