<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="./../../../assets/images/download.jpeg" alt="icone" />
    </a>

    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="/home">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/product">product </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
